* {
  all: unset;
  font-family: "GohuFont 14 Nerd Font Propo";
}

.w_bar {
  background: transparent;
}

// bar

.bar-start {
  background: #191724;
  border: 2px solid #9ccfd8;
  border-radius: 0px;

  color: #9ccfd8;

  font-size: 12pt;
}

.bar-spotify {
  background: #191724;
  border: 2px solid #1db954;
  border-radius: 0px;

  color: #fff;

  font-size: 12pt;
  
  transition: .5s ease-in;
}

.bar-workspaces {
  background: #191724;
  border: 2px solid #866feb;
  border-radius: 0px;
}

.bar-workspaces-active {
  color: #866feb;
}

.bar-workspaces-occupied {
  color: #6e6a86;
}

.bar-workspaces-empty {
  color: #6e6a86;
}

// dashboard



// popups
